
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>I am from home controller and Index method</h1>

    </div>
    <div>
        <a href="/Home/AboutUs">Home  about us</a><br />
        <a href="/Employee/Index">Employee  Index</a><br />
        <a href="/Employee/AboutUs">Employee  about us</a>

    </div>
</body>
</html>
